.btmtext{
    color: #09244a;
    margin-left: 155px;
}
.landing_bottom{
    margin-left: 100px;
}

.projectItem_car{
    background-color:#09244a ;
    border-radius: 4px;
.demo{
    color: red;
    margin-left: 60px;
}